/.metadata/
Programacion_Redes/.settings/org.eclipse.jdt.apt.core.prefs
Programacion_Redes/.settings/org.eclipse.jdt.core.prefs
Programacion_Redes/.settings/org.eclipse.m2e.core.prefs
Programacion_Redes/target/classes/META-INF/MANIFEST.MF
Programacion_Redes/target/classes/META-INF/maven/ar.edu.et32/Programacion_Redes/pom.properties
Programacion_Redes/target/classes/META-INF/maven/ar.edu.et32/Programacion_Redes/pom.xml
